<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monkeybusiness.jaaar">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <application
        android:name=".MasterClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LandingPageActivity"
            android:theme="@style/AppTheme" />
        <!--<activity android:name=".Activity.DayViewActivity" />-->
        <activity android:name=".Activity.AddEventActivity"></activity>
        <activity
            android:name=".Activity.BaseActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Fragment.AttendanceFragment"></activity>

        <activity android:name=".Activity.DashboardActivity"></activity>

        <activity android:name=".Fragment.FriendsActivity"></activity>
        <activity android:name=".Fragment.TestListFragment"></activity>

        <activity android:name=".Fragment.RemarksFragment"></activity>

    </application>

</manifest>
